<!DOCTYPE html>
<html>
    <%- include('../includes/head') %>
    <body>
        <%- include('../includes/header') %>
          <!-- ======= Hero Section ======= -->
          <section id="hero" class="hero d-flex align-items-center">
              
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 d-flex flex-column justify-content-center">
                        <h1 data-aos="fade-up"><%= bot.tag %> <span class="badge bg-danger">Servers: <%= botDB.stats.serverCount === 0 ? "N/A" : botDB.stats.serverCount %></span></h1>
                        <h2 data-aos="fade-up" data-aos-delay="400"><%= botDB.descriptions.short %></h2>
                    </div>
                </div>
            </div>
  
        </section><!-- End Hero -->
        <main id="main">
            <!-- ======= About Section ======= -->
            <section id="about" class="about">

                <div class="container" data-aos="fade-up">
                    <div class="row gx-0">
                        <div class="col-lg-6 d-flex flex-column justify-content-center" data-aos="fade-up" data-aos-delay="200">
                            <div class="content">
                                <h3>Information</h3>
                                <p>
                                    <span class="badge bg-danger">Owner: <%= owner.tag %></span><br>
                                    <a role="button" class="btn btn-success m-1" href="https://discord.com/api/oauth2/authorize?client_id=<%= bot.id %>&scope=bot+applications.commands&permissions=0">Invite</a><br>
                                    <a role="button" class="btn btn-info m-1" href="/bot/<%= bot.id %>/vote">Vote</a>
                                    <% if (botDB.support) { %>
                                    <a role="button" class="btn btn-warning m-1" href="<%= botDB.support %>">Support server</a><br>
                                    <% } %>
                                    <% if (botDB.github) { %>
                                    <a role="button" class="btn btn-dark m-1" href="<%= botDB.github %>">GitHub</a><br>
                                    <% } %>
                                    <% if (botDB.website) { %>
                                    <a role="button" class="btn btn-link m-1" href="<%= botDB.website %>">Website</a><br>
                                    <% } %>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <% if (req.user?.id === owner.id) { %>
                <div class="container" data-aos="fade-up">
                    <div class="row gx-0">
                        <div class="col-lg-6 d-flex flex-column justify-content-center" data-aos="fade-up" data-aos-delay="200">
                            <div class="content">
                                <h3>Owner options</h3>
                                <p>
                                    <span class="badge bg-danger">Api token: <%= botDB.apiToken %></span><br>
                                    <a class="btn btn-warning m-1" href="/bot/<%= bot.id %>/edit">Edit</a><br>
                                    <a class="btn btn-success m-1" href="/bot/<%= bot.id %>/analytics">Analytics</a><br>
                                    <a class="btn btn-danger m-1" onclick="confirmDeletion('/bot/<%= bot.id %>', '<%= bot.tag %>')">Delete</a><br>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <% } %>

                <div class="container" data-aos="fade-up">
                    <div class="row gx-0">
                        <div class="col-lg-6 d-flex flex-column justify-content-center" data-aos="fade-up" data-aos-delay="200">
                            <div class="content">
                                <h3></h3>
                                <p>
                                    <%- req.client.marked(botDB.descriptions.long) %>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
  
      </section><!-- End About Section -->
        </main>
        <script>
            function confirmDeletion(url, name) {
                Swal.fire({
                    title: "Are you sure?",
                    html: "You are about to delete " + name + " from DisWeb. You won't be able to revert this!",
                    icon: "warning",
                    showCancelButton: true,
                    confirmButtonText: "Yes, delete it!",
                    cancelButtonText: "No, cancel!"
                }).then((result) => {
                    if (result.isConfirmed) {
                        deleteReq(url);
                        return true;
                    } else if (result.dismiss === Swal.DismissReason.cancel) {
                        Swal.fire(
                            "Cancelled!",
                            "Cancelled deletion of your bot :)",
                            "error"
                        );
                    }
                });
                return false;
            }
            function deleteReq(url) {
                const xhr = new XMLHttpRequest();
                xhr.open("DELETE", url);
                xhr.onload = function() {
                    if (xhr.status === 200) {
                        window.location.href = `<%= redirectAfterDeleteURL %>?success=true&message=${encodeURIComponent("Bot Deleted")}`;
                    } else {
                        window.location.href = `<%= redirectAfterDeleteURL %>?error=true&message=${encodeURIComponent("Could not delete bot")}`;
                    }
                };
                xhr.onerror = function() {
                    window.location.href = `<%= redirectAfterDeleteURL %>?error=true&message=${encodeURIComponent("Could not delete bot. Network connection error mostly")}`;
                };
                xhr.send();
            }
        </script>
        <%- include('../includes/footer') %>
    </body>
</html>