<!DOCTYPE html>
<html>
    <%- include('../includes/head') %>
    <body>
        <%- include('../includes/header') %>
          <!-- ======= Hero Section ======= -->
          <section id="hero" class="hero d-flex align-items-center">
              
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 d-flex flex-column justify-content-center">
                        <h1 data-aos="fade-up"><%= bot.tag %></h1>
                        <h2 data-aos="fade-up" data-aos-delay="400"><%= botDB.descriptions.short %></h2>
                    </div>
                </div>
            </div>
  
        </section><!-- End Hero -->
        <main id="main">
            <!-- ======= About Section ======= -->
            <section id="about" class="about">
                
                <div class="container" data-aos="fade-up">
                    <div class="row gx-0">
                        <div class="col-lg-6 d-flex flex-column justify-content-center" data-aos="fade-up" data-aos-delay="200">
                            <div class="content">
                                <h3></h3>
                                <p>
                                    <%= botDB.descriptions.long %>
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="row gx-0">
                        <div class="col-lg-6 d-flex flex-column justify-content-center" data-aos="fade-up" data-aos-delay="200">
                            <div class="content">
                                <h3>Information</h3>
                                <p>
                                    Owner: <%= owner.tag %><br>
                                    <% if (botDB.support) { %>
                                    <a class="btn btn-warning" href="<%= botDB.support %>">Support server</a><br>
                                    <% } %>
                                    <% if (botDB.github) { %>
                                    <a class="btn btn-dark" href="<%= botDB.github %>">GitHub</a><br>
                                    <% } %>
                                    <% if (botDB.website) { %>
                                    <a class="btn btn-light" href="<%= botDB.website %>">Website</a><br>
                                    <% } %>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
  
      </section><!-- End About Section -->
        </main>
        <%- include('../includes/footer') %>
    </body>
</html>