<!DOCTYPE html>
<html>
    <%- include('../includes/head') %>
    <body>
        <%- include('../includes/header') %>
          <!-- ======= Hero Section ======= -->
          <section id="hero" class="hero d-flex align-items-center">
              
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 d-flex flex-column justify-content-center">
                        <h1 data-aos="fade-up">Find the best discord bots for your server here</h1>
                        <h2 data-aos="fade-up" data-aos-delay="400"></h2>
                        <!--<div data-aos="fade-up" data-aos-delay="600">
                            <div class="text-center text-lg-start">
                                <a href="#about" class="btn-get-started scrollto d-inline-flex align-items-center justify-content-center align-self-center">
                                    <span>Get Started</span>
                                    <i class="bi bi-arrow-right"></i>
                                </a>
                            </div>
                        </div>-->
                    </div>
                    <!--<div class="col-lg-6 hero-img" data-aos="zoom-out" data-aos-delay="200">
                        <img src="assets/img/hero-img.png" class="img-fluid" alt="">
                    </div>-->
                </div>
            </div>
  
        </section><!-- End Hero -->
        <main id="main">
            <!-- ======= About Section ======= -->
            <section id="about" class="about">
                
                <div class="container" data-aos="fade-up">
                    <div class="row gx-0">

                        <div class="col-lg-6 d-flex flex-column justify-content-center" data-aos="fade-up" data-aos-delay="200">
                            <div class="content">
                                <h3>Top voted bots</h3>
                                <p>
                                    <% bots.filter(b => b.approved).sort((a, b) => b.analytics.votes - a.analytics.votes).slice(0, 1).forEach((botDB) => { const bot = req.client.users.cache.get(botDB.botId); if(!bot) {return; } %>
                                        <div class="card" style="width: 18rem;">
                                            <img class="card-img-top" src="<%= bot.displayAvatarURL({ size: 256, format: 'png' }) %>" alt="Bot avatar">
                                            <div class="card-body">
                                                <h5 class="card-title"></h5>
                                                <p class="card-text"><%= bot.tag %></p>
                                                <a href="/bot/<%= bot.id %>" class="btn btn-primary">View bot</a>
                                            </div>
                                        </div>
                                    <% }); %>
                                </p>
                            </div>
                        </div>

                        <div class="col-lg-6 d-flex flex-column justify-content-center" data-aos="fade-up" data-aos-delay="200">
                            <div class="content">
                                <h3>Newly added bots</h3>
                                <p>
                                    Here is the list of newly added bots
                                    <div class="card" style="width: 18rem;">
                                        <img class="card-img-top" src="" alt="Bot avatar">
                                        <div class="card-body">
                                          <h5 class="card-title">Bot name</h5>
                                          <p class="card-text">Bot description</p>
                                          <a href="#" class="btn btn-primary">View bot</a>
                                        </div>
                                      </div>
                                </p>
                            </div>
                        </div>
  
          </div>
        </div>
  
      </section><!-- End About Section -->
        </main>
        <%- include('../includes/footer') %>
    </body>
</html>
