<!DOCTYPE html>
<html>
    <%- include('includes/head') %>
    <body>
        <%- include('includes/header') %>
          <!-- ======= Hero Section ======= -->
          <section id="hero" class="hero d-flex align-items-center">
              
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 d-flex flex-column justify-content-center">
                        <h1 data-aos="fade-up">DisWeb</h1>
                        <h2 data-aos="fade-up" data-aos-delay="400">DisWeb is a discord list</h2>
                    </div>
                    <div class="col-lg-6 hero-img" data-aos="zoom-out" data-aos-delay="200">
                        <img src="assets/img/hero-img.png" class="img-fluid" alt="">
                    </div>
                </div>
            </div>
  
        </section><!-- End Hero -->
        <main id="main">
            <!-- ======= About Section ======= -->
            <section id="about" class="about">
                
                <div class="container" data-aos="fade-up">
                    <div class="row gx-0">

                        <div class="col-lg-6 d-flex flex-column justify-content-center" data-aos="fade-up" data-aos-delay="200">
                            <div class="content">
                                <h3><i class="bi bi-list"></i>&nbsp;Lists</h3>
                                <p>
                                    <ol>
                                        <li><a href="/bots">Bot list</a><i class="bi bi-arrow-right"></i></li>
                                        <li><a href="/servers">Server list</a><i class="bi bi-arrow-right"></i></li>
                                    </ol>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
      
            </section><!-- End About Section -->
            <!-- ======= Counts Section ======= -->
            <section id="counts" class="counts">
                <div class="container" data-aos="fade-up">

                    <div class="row gy-4">

                        <div class="col-lg-3 col-md-6">
                            <div class="count-box">
                                <i class="bi bi-check-circle" style="color: #ee6c20;"></i>
                                <div>
                                    <span data-purecounter-start="0" data-purecounter-end="<%= bots.length %>" data-purecounter-duration="1" class="purecounter"></span>
                                    <p>Approved Bots</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-6">
                            <div class="count-box">
                                <i class="bi bi-shield-fill-x" style="color: #ee6c20;"></i>
                                <div>
                                    <span data-purecounter-start="0" data-purecounter-end="<%= botsNotApp.length %>" data-purecounter-duration="1" class="purecounter"></span>
                                    <p>Unapproved Bots</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-6">
                            <div class="count-box">
                                <i class="bi bi-people" style="color: #ee6c20;"></i>
                                <div>
                                    <span data-purecounter-start="0" data-purecounter-end="<%= users.length %>" data-purecounter-duration="1" class="purecounter"></span>
                                    <p>Users</p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </section><!-- End Counts Section -->
        </main>
        <%- include('includes/footer') %>
    </body>
</html>