<!DOCTYPE html>
<html>
    <%- include('includes/head') %>
    <body>
        <%- include('includes/header') %>
          <!-- ======= Hero Section ======= -->
          <section id="hero" class="hero d-flex align-items-center">
              
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 d-flex flex-column justify-content-center">
                        <h1 data-aos="fade-up">Our team</h1>
                        <h2 data-aos="fade-up" data-aos-delay="400"></h2>
                        <!--<div data-aos="fade-up" data-aos-delay="600">
                            <div class="text-center text-lg-start">
                                <a href="#about" class="btn-get-started scrollto d-inline-flex align-items-center justify-content-center align-self-center">
                                    <span>Get Started</span>
                                    <i class="bi bi-arrow-right"></i>
                                </a>
                            </div>
                        </div>-->
                    </div>
                </div>
            </div>
  
        </section><!-- End Hero -->
        <main id="main">
            <!-- ======= Team Section ======= -->

            <section id="team" class="team">

                <div class="container" data-aos="fade-up">
                    <header class="section-header">
                        <h2>Team</h2>
                        <p>Our hard working team</p>
                    </header>

                    <div class="row gy-4">
                        <!--<div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
                            <div class="member">
                                <div class="member-img">
                                    <img src="https://cdn.discordapp.com/avatars/815204465937481749/883d202fcb3d957a7538a2f5bf90a35d.png?size=256" alt="">
                                    <!--<div class="social">
                                        <a href=""><i class="bi bi-twitter"></i></a>
                                        <a href=""><i class="bi bi-facebook"></i></a>
                                        <a href=""><i class="bi bi-instagram"></i></a>
                                        <a href=""><i class="bi bi-linkedin"></i></a>
                                    </div>--
                                </div>
                                <div class="member-info">
                                    <h4>PuneetGopinath#7179</h4>
                                    <span>Founder and Maintainer</span>
                                    <!--<p>I love DisWeb.</p>--
                                    <a href="/profile/815204465937481749" class="btn btn-primary">View profile</a>
                                </div>
                            </div>
                        </div>-->

                        <% for (const i in staff) { const member = staff[i]; const user = member.user; %>
                        <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
                            <div class="member">
                                <div class="member-img">
                                    <img src="<%= user.displayAvatarURL({ format: "png", size: 256 }) %>" alt="">
                                </div>
                                <div class="member-info">
                                    <h4><%= user.tag %></h4>
                                    <span><%= `${member.roles.cache.has(req.client.config.roles.admin) ? "Administrator," : ""} ${member.roles.cache.has(req.client.config.roles.developer) ? "Developer," : ""} ${member.roles.cache.has(req.client.config.roles.moderator) ? "Moderator," : ""} ${member.roles.cache.has(req.client.config.roles.reviewer[0]) ? "Bot reviewer" : ""}` %></span>
                                    <a href="/profile/<%= user.id %>" class="btn btn-primary">View profile</a>
                                </div>
                            </div>
                        </div>
                        <% } %>
                    </div>

                </div>

            </section><!-- End Team Section -->
        </main>
        <%- include('includes/footer') %>
    </body>
</html>
